.radio {
  display: block;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 20%;
}

.radio input {
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.radio label {
  border: 1px solid white;
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px 10px 10px 10px;
  cursor: pointer;
  color: black;
  vertical-align: middle;
}

.radio label:hover {
  background-color: black;
  color: white;
  transition: all .5s ease-in-out;
}

.radio label:active {
  opacity: .4;
  background-color: black;
  color: green;
  transition: 0s;
}

.selection {
  background-color: green;
  opacity: .8;
}
