.delete-account {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 20px;
  width: 40%;
}

.delete-account a {
  text-decoration: none;
}

.delete-buttons {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.delete-buttons button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  margin-top: 5px;
  background-color: #26596A;
  border: 3px solid #000D11;
  font-size: 20px;
  border-radius: 5px;
  color: #D0DCE0;
  padding: 5px;
}

.delete-buttons button:hover {
  background-color: #000D11;
  transition: .5s ease;
}
